In [1]:
import pandas as pd
import numpy as np
import os
import warnings
import pickle
import os.path
import seaborn
import pickle
import os.path

In [2]:
data_path = '/home/zhh/文档/阿里巴巴/data'
os.chdir(data_path)
os.path.exists('/home/zhh/文档/阿里巴巴/data')

True

In [3]:
os.listdir()

['2联表',
 'fee_detail.csv',
 '3.分析train和train_id',
 'df_test.csv',
 'df_id_train.csv',
 'df_train.csv',
 '1数据读入',
 '6.合表',
 'df_id_test.csv',
 '.~lock.df_train.csv#',
 '4.分析fee_detail',
 '.~lock.df_test.csv#',
 '精准社保各数据集字段']

In [4]:
#读取df_train数据集
train = pd.read_csv('df_train.csv',index_col=None)

/home/zhh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (56,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#得到train表中所有字段的类型
len(train['个人编码'])

15961

In [81]:
#字段类型
train.个人编码 = train.个人编码.map(lambda x:str(x).split('.')[0])
train.医院编码 = train.医院编码.map(lambda x:str(x).split('.')[0])
train.双笔退费标识 = train.双笔退费标识.map(lambda x:str(x).split('.')[0])
train.head()

,顺序号,个人编码,医院编码,药品费发生金额,贵重药品发生金额,中成药费发生金额,中草药费发生金额,药品费自费金额,药品费拒付金额,药品费申报金额,...,出院诊断病种名称,本次审批金额,补助审批金额,医疗救助医院申请,残疾军人医疗补助基金支付金额,民政救助补助金额,城乡优抚补助金额,非典补助补助金额,家床起付线剩余,操作时间
0,MT01801607015822812,352120001523108,180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,挂号,3.0,0.6,0.0,NaN,0.48,0.0,0.0,0.0,01-7月 -16
1,MT01431607015822815,352120001475556,143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,挂号,12.5,NaN,0.0,NaN,0.00,0.0,0.0,0.0,01-7月 -16
2,MT01101607015822817,352120003484886,110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,挂号,2.5,NaN,0.0,NaN,0.00,0.0,0.0,0.0,01-7月 -16
3,MT01101607015822838,352120002750505,110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,挂号,15.0,NaN,0.0,NaN,0.00,0.0,0.0,0.0,01-7月 -16
4,MT01101607015822840,352120001556755,110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,挂号,2.5,NaN,0.0,NaN,0.00,0.0,0.0,0.0,01-7月 -16

In [14]:
#查看数据的整体概况
print('原数据有{0}行，{1}列'.format(train.shape[0],train.shape[1]))
print('字段如下\t:')
for i in train.columns:
    print('\t',i)
print('****************************')

print('**********数据类型******************')
print(train.dtypes)

原数据有895421行，69列
字段如下	:
	 顺序号
	 个人编码
	 医院编码
	 药品费发生金额
	 贵重药品发生金额
	 中成药费发生金额
	 中草药费发生金额
	 药品费自费金额
	 药品费拒付金额
	 药品费申报金额
	 检查费发生金额
	 贵重检查费金额
	 检查费自费金额
	 检查费拒付金额
	 检查费申报金额
	 治疗费发生金额
	 治疗费自费金额
	 治疗费拒付金额
	 治疗费申报金额
	 手术费发生金额
	 手术费自费金额
	 手术费拒付金额
	 手术费申报金额
	 床位费发生金额
	 床位费拒付金额
	 床位费申报金额
	 医用材料发生金额
	 高价材料发生金额
	 医用材料费自费金额
	 医用材料费拒付金额
	 输全血申报金额
	 成分输血自费金额
	 成分输血拒付金额
	 成分输血申报金额
	 其它发生金额
	 其它拒付金额
	 其它申报金额
	 一次性医用材料自费金额
	 一次性医用材料拒付金额
	 一次性医用材料申报金额
	 输全血按比例自负金额
	 起付线标准金额
	 起付标准以上自负比例金额
	 医疗救助个人按比例负担金额
	 最高限额以上金额
	 统筹拒付金额
	 基本医疗保险统筹基金支付金额
	 交易时间
	 农民工医疗救助计算金额
	 公务员医疗补助基金支付金额
	 城乡救助补助金额
	 可用账户报销金额
	 基本医疗保险个人账户支付金额
	 非账户支付金额
	 双笔退费标识
	 住院开始时间
	 住院终止时间
	 住院天数
	 申报受理时间
	 出院诊断病种名称
	 本次审批金额
	 补助审批金额
	 医疗救助医院申请
	 残疾军人医疗补助基金支付金额
	 民政救助补助金额
	 城乡优抚补助金额
	 非典补助补助金额
	 家床起付线剩余
	 操作时间
****************************
**********数据类型******************
顺序号                object
个人编码               object
医院编码               object
药品费发生金额           float64
贵重药品发生金额          float64
中成药费发生金额          float64
中草药费发生金额          float64
药品费自费金额           float64
药品费拒付金额           float64
药品费申报金额           float64
检查费发生金额           float64
贵重检查费金额           float64
检查费自费金额           float64
检查费拒付金额           float64
检查费申报金额           float64
治疗费发生金额           float64
治疗费自费金额           float64
治疗费拒付金额           float64
治疗费申报金额           float64
手术费发生金额           float64
手术费自费金额           float64
手术费拒付金额           float64
手术费申报金额           float64
床位费发生金额           float64
床位费拒付金额           float64
床位费申报金额           float64
医用材料发生金额          float64
高价材料发生金额          float64
医用材料费自费金额         float64
医用材料费拒付金额         float64
                   ...
一次性医用材料申报金额       float64
输全血按比例自负金额        float64
起付线标准金额           float64
起付标准以上自负比例金额      float64
医疗救助个人按比例负担金额     float64
最高限额以上金额          float64
统筹拒付金额            float64
基本医疗保险统筹基金支付金额    float64
交易时间               object
农民工医疗救助计算金额       float64
公务员医疗补助基金支付金额     float64
城乡救助补助金额          float64
可用账户报销金额          float64
基本医疗保险个人账户支付金额    float64
非账户支付金额           float64
双笔退费标识            float64
住院开始时间             object
住院终止时间             object
住院天数              float64
申报受理时间             object
出院诊断病种名称           object
本次审批金额            float64
补助审批金额            float64
医疗救助医院申请          float64
残疾军人医疗补助基金支付金额    float64
民政救助补助金额          float64
城乡优抚补助金额          float64
非典补助补助金额          float64
家床起付线剩余           float64
操作时间               object
dtype: object

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895421 entries, 0 to 895420
Data columns (total 69 columns):
顺序号               895421 non-null object
个人编码              895421 non-null object
医院编码              895421 non-null object
药品费发生金额           895420 non-null float64
贵重药品发生金额          895420 non-null float64
中成药费发生金额          895420 non-null float64
中草药费发生金额          895420 non-null float64
药品费自费金额           895420 non-null float64
药品费拒付金额           895420 non-null float64
药品费申报金额           895420 non-null float64
检查费发生金额           895420 non-null float64
贵重检查费金额           895420 non-null float64
检查费自费金额           895420 non-null float64
检查费拒付金额           895420 non-null float64
检查费申报金额           895420 non-null float64
治疗费发生金额           895420 non-null float64
治疗费自费金额           895420 non-null float64
治疗费拒付金额           895420 non-null float64
治疗费申报金额           895420 non-null float64
手术费发生金额           895420 non-null float64
手术费自费金额           895420 non-null float64
手术费拒付金额           895420 non-null float64
手术费申报金额           895420 non-null float64
床位费发生金额           895420 non-null float64
床位费拒付金额           895420 non-null float64
床位费申报金额           895420 non-null float64
医用材料发生金额          895420 non-null float64
高价材料发生金额          895420 non-null float64
医用材料费自费金额         895420 non-null float64
医用材料费拒付金额         895420 non-null float64
输全血申报金额           895420 non-null float64
成分输血自费金额          895420 non-null float64
成分输血拒付金额          895420 non-null float64
成分输血申报金额          895420 non-null float64
其它发生金额            895420 non-null float64
其它拒付金额            895420 non-null float64
其它申报金额            895420 non-null float64
一次性医用材料自费金额       276929 non-null float64
一次性医用材料拒付金额       0 non-null float64
一次性医用材料申报金额       276929 non-null float64
输全血按比例自负金额        895420 non-null float64
起付线标准金额           895420 non-null float64
起付标准以上自负比例金额      895420 non-null float64
医疗救助个人按比例负担金额     895420 non-null float64
最高限额以上金额          895420 non-null float64
统筹拒付金额            895420 non-null float64
基本医疗保险统筹基金支付金额    895420 non-null float64
交易时间              895420 non-null object
农民工医疗救助计算金额       0 non-null float64
公务员医疗补助基金支付金额     17772 non-null float64
城乡救助补助金额          158626 non-null float64
可用账户报销金额          895420 non-null float64
基本医疗保险个人账户支付金额    895420 non-null float64
非账户支付金额           895420 non-null float64
双笔退费标识            895420 non-null float64
住院开始时间            895420 non-null object
住院终止时间            226586 non-null object
住院天数              895420 non-null float64
申报受理时间            226586 non-null object
出院诊断病种名称          225488 non-null object
本次审批金额            894623 non-null float64
补助审批金额            158469 non-null float64
医疗救助医院申请          894623 non-null float64
残疾军人医疗补助基金支付金额    257 non-null float64
民政救助补助金额          894619 non-null float64
城乡优抚补助金额          894623 non-null float64
非典补助补助金额          894623 non-null float64
家床起付线剩余           225790 non-null float64
操作时间              894623 non-null object
dtypes: float64(60), object(9)
memory usage: 471.4+ MB

In [44]:
train.describe()

,个人编码,医院编码,药品费发生金额,贵重药品发生金额,中成药费发生金额,中草药费发生金额,药品费自费金额,药品费拒付金额,药品费申报金额,检查费发生金额,...,双笔退费标识,住院天数,本次审批金额,补助审批金额,医疗救助医院申请,残疾军人医疗补助基金支付金额,民政救助补助金额,城乡优抚补助金额,非典补助补助金额,家床起付线剩余
count,8.954200e+05,895420.000000,895420.000000,895420.000000,895420.000000,895420.000000,895420.000000,895420.0,895420.000000,895420.000000,...,895420.0,895420.0,894623.000000,158469.000000,894623.000000,257.000000,894619.000000,894623.000000,894623.0,225790.0
mean,3.521202e+14,338.580059,166.186030,28.962263,36.822063,26.433363,0.788062,0.0,163.598836,6.756894,...,0.0,0.0,198.294283,33.173890,2.072563,115.886770,3.776899,0.013576,0.0,0.0
std,7.565886e+08,333.703993,290.702795,178.907588,113.155150,124.622667,5.177994,0.0,283.703252,47.519840,...,0.0,0.0,338.097977,71.275079,59.199728,225.154569,22.574922,0.907724,0.0,0.0
min,3.521200e+14,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,3.521200e+14,149.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,6.000000,0.600000,0.000000,1.200000,0.000000,0.000000,0.0,0.0
50%,3.521200e+14,185.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,58.000000,7.840000,0.000000,59.040000,0.000000,0.000000,0.0,0.0
75%,3.521200e+14,558.000000,277.572500,0.000000,0.000000,0.000000,0.000000,0.0,274.260000,0.000000,...,0.0,0.0,306.620000,45.240000,0.000000,99.360000,0.000000,0.000000,0.0,0.0
max,3.521280e+14,1691.000000,32535.000000,32535.000000,5848.000000,2800.000000,697.000000,0.0,32535.000000,3760.000000,...,0.0,0.0,32634.220000,6507.000000,26028.000000,1211.680000,5205.600000,300.230000,0.0,0.0

In [40]:
print("查看空值情况")
temp = pd.DataFrame(np.sum(train.isnull()))
round((temp.ix[:,0]/(train.shape[0])*100),2).sort_values(ascending=False)

查看空值情况

一次性医用材料拒付金额       100.00
农民工医疗救助计算金额       100.00
残疾军人医疗补助基金支付金额     99.97
公务员医疗补助基金支付金额      98.02
补助审批金额             82.30
城乡救助补助金额           82.28
出院诊断病种名称           74.82
家床起付线剩余            74.78
住院终止时间             74.70
申报受理时间             74.70
一次性医用材料申报金额        69.07
一次性医用材料自费金额        69.07
操作时间                0.09
本次审批金额              0.09
医疗救助医院申请            0.09
民政救助补助金额            0.09
城乡优抚补助金额            0.09
非典补助补助金额            0.09
手术费申报金额             0.00
检查费申报金额             0.00
手术费自费金额             0.00
手术费发生金额             0.00
治疗费申报金额             0.00
床位费发生金额             0.00
治疗费拒付金额             0.00
治疗费自费金额             0.00
治疗费发生金额             0.00
手术费拒付金额             0.00
药品费自费金额             0.00
检查费拒付金额             0.00
                   ...
药品费发生金额             0.00
医院编码                0.00
个人编码                0.00
床位费拒付金额             0.00
其它发生金额              0.00
医用材料发生金额            0.00
医疗救助个人按比例负担金额       0.00
住院天数                0.00
住院开始时间              0.00
双笔退费标识              0.00
非账户支付金额             0.00
基本医疗保险个人账户支付金额      0.00
可用账户报销金额            0.00
交易时间                0.00
基本医疗保险统筹基金支付金额      0.00
统筹拒付金额              0.00
最高限额以上金额            0.00
起付标准以上自负比例金额        0.00
高价材料发生金额            0.00
起付线标准金额             0.00
输全血按比例自负金额          0.00
其它申报金额              0.00
其它拒付金额              0.00
成分输血申报金额            0.00
成分输血拒付金额            0.00
成分输血自费金额            0.00
输全血申报金额             0.00
医用材料费拒付金额           0.00
医用材料费自费金额           0.00
顺序号                 0.00
Name: 0, dtype: float64

In [99]:
# 固化一个数据集
if os.path.exists('/home/zhh/文档/阿里巴巴/data/1数据读入'):
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
else:
    os.mkdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
with open('train_1_.pickle','wb') as f1:
    pickle.dump(train,f1)

In [105]:
del train
del temp

NameError: name 'temp' is not defined

# 读取费用详情表
---
* ## 表源 &emsp;fee_detail.csv

In [4]:
##
#读取df_train数据集
fee = pd.read_csv('fee_detail.csv',index_col=None)

/home/zhh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
fee.head()

,顺序号,医院编码,三目统计项目,三目服务项目名称,三目医院服务项目名称,剂型,规格,单价,数量,拒付原因编码,拒付原因,费用发生时间
0,MT13061601133880864,1306.0,7.0,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-01-13
1,MT13061601133880864,1306.0,3.0,NaN,挂号,,,3.0,1.0,NaN,NaN,2016-01-13
2,MT13061601154123666,1306.0,3.0,NaN,挂号,,,3.0,1.0,NaN,NaN,2016-01-15
3,MT13061601154123666,1306.0,7.0,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-01-15
4,MT13061602298982056,1306.0,7.0,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-02-29

In [6]:
fee.三目统计项目 = fee.三目统计项目.map(lambda x:str(x).split('.')[0])
fee.医院编码 =  fee.医院编码.map(lambda x:str(x).split('.')[0])
fee.拒付原因编码 = fee.拒付原因编码.map(lambda x:str(x).split('.')[0])

In [22]:
# 初步处理过后的dataframe
fee.head()

,顺序号,医院编码,三目统计项目,三目服务项目名称,三目医院服务项目名称,剂型,规格,单价,数量,拒付原因编码,拒付原因,费用发生时间
0,MT13061601133880864,1306,7,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-01-13
1,MT13061601133880864,1306,3,NaN,挂号,,,3.0,1.0,NaN,NaN,2016-01-13
2,MT13061601154123666,1306,3,NaN,挂号,,,3.0,1.0,NaN,NaN,2016-01-15
3,MT13061601154123666,1306,7,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-01-15
4,MT13061602298982056,1306,7,普通门诊挂号费---三级医院,挂号,,,1.0,1.0,NaN,NaN,2016-02-29

In [25]:
#查看各个字段的类型
fee.dtypes

顺序号            object
医院编码           object
三目统计项目         object
三目服务项目名称       object
三目医院服务项目名称     object
剂型             object
规格             object
单价            float64
数量            float64
拒付原因编码         object
拒付原因           object
费用发生时间         object
dtype: object

In [29]:
# 统计各个字段的空值情况
round(np.sum(fee.isnull())/fee.shape[0]*100,2)

顺序号             0.00
医院编码            0.00
三目统计项目          0.00
三目服务项目名称       88.12
三目医院服务项目名称     87.31
剂型              0.00
规格              0.00
单价              0.00
数量              0.00
拒付原因编码          0.00
拒付原因          100.00
费用发生时间          0.00
dtype: float64

In [39]:
#describe（）描述情况
fee.describe().astype(int)

            单价       数量
count  6532901  6532901
mean        26       34
std         75       82
min          0        0
25%          0        1
50%          6        2
75%         29       11
max      15656     5684

In [45]:
fee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6532901 entries, 0 to 6532900
Data columns (total 12 columns):
顺序号           object
医院编码          object
三目统计项目        object
三目服务项目名称      object
三目医院服务项目名称    object
剂型            object
规格            object
单价            float64
数量            float64
拒付原因编码        object
拒付原因          object
费用发生时间        object
dtypes: float64(2), object(10)
memory usage: 598.1+ MB

In [7]:
# 固化一个数据集
if os.path.exists('/home/zhh/文档/阿里巴巴/data/1数据读入'):
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
else:
    os.mkdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
with open('fee_1_.pickle','wb') as f1:
    pickle.dump(fee,f1)

In [8]:
del fee

# 读入训练集的id表
---
* ## df_id_train.csv
* ## df_id_test.csv

In [12]:
# 训练集
os.chdir('/home/zhh/文档/阿里巴巴/data')
train_id =  pd.read_csv('df_id_train.csv',header= None)
train_id.columns = ['id','label']

In [56]:
train_id.head()

                id  label
0  352120001523108      1
1  352120001475556      0
2  352120003484886      0
3  352120002750505      0
4  352120001556755      0

In [59]:
# 查看训练集正负样本比例
train_id['label'].value_counts()

0    19000
1     1000
Name: label, dtype: int64

In [66]:
#测试集
test_id =  pd.read_csv('df_id_test.csv',header= None)
test_id.columns = ['id']
test_id.head()

                id
0  352120001207726
1  352120000183777
2  352120002857717
3  352120001492069
4  352120001574938

In [13]:
if os.path.exists('/home/zhh/文档/阿里巴巴/data/1数据读入'):
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
else:
    os.mkdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
    os.chdir('/home/zhh/文档/阿里巴巴/data/1数据读入')
with open('train_id_1_.pickle','wb') as f1:
    pickle.dump(train_id,f1)